.App {
  text-align: center;
  display: flex;
  font-size: xx-large;
  color: aliceblue;
}

body{
  background-image:url(https://s6.favim.com/orig/150218/background-backgrounds-color-colorful-Favim.com-2490516.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.title{
  color: aqua;
}

.name{
  color: blue;
  text-align: left;
}